// Styles HomePage
body{
    background: #f1edee;
}

.home{
    display: flex;
    justify-content: center;

    .container-home{
        width: 70%;
        height: 315px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: column;
        border: 2px solid black;
        box-shadow: -2px 2px 16px 4px black;
        background-color: #D8DBE2;

        .btns-home{

            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;

            button{
                padding: 5px 60px 5px 60px;
                margin: 2%;
            }
        }
    }

}

// Styles form
.form{
    display: flex;
    flex-direction: column;
    align-items: center;

    .wrapper{
        border: 1px solid;
        margin: 2%;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #D8DBE2;
        box-shadow: 5px 5px 15px 2px black;
        width: 70%;

        .container-form{
            width: 70%;
            .form-itens{
                // margin: 8%;
                .MuiFormControl-root{
                    width: 100%;
                    margin: 1%;
                }
    
            }
    
        }
    }
    .container-buttons{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 2%;
        width: 100%;

        .form-buttons{
            width: 100%;
            display: flex;
            align-items: center; 
            justify-content: center;
        }
        .btn-save{
            background-color: #8bc34a;
        }

        button{
            margin: 2%;

        }
    }
}

// Styles table

.table-users{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .title-column-table{
        font-size: 16px;
        font-weight: bold;
    }
    
    .container-table-users{
        width: 80%;
        margin: 2%;
        border: 3px solid black;

    }
    .container-btns-list{

        button{
            margin: 1%;
        }
    }

    .btn-delete{
        background-color: #d32f2f
        ;
    }

}